@import url('https://fonts.googleapis.com/css2?family=WindSong&family=Playfair+Display&family=Waterfall&display=swap');

body {
  background-color: #041C32;
  color: #D8E3E7;
  margin: 0;
  /*overflow: auto;*/
  font-family: 'Playfair Display', serif;
}

body::-webkit-scrollbar {
  display: none;
}

a{
  color: #0AAAEE;
  text-decoration: none;
}
a:hover{
  color: white;
  text-shadow: white;
}

h1 {
  color: #51C4D3;
  font-size: 32px;
  margin-block-start: 21px;
}  

h2 {
  /*text-align: center;*/
  color: #51C4D3;
}

ol {
  /*max-width: 400px;*/
  text-align: justify;
  padding: 0;
  /*padding: 30px;*/
  margin: 0;
  list-style-position: inside;
}

li{
  background-color: #064663;
  text-align: justify;
  /*border-style: groove;*/
  /*border-width: 1px;*/
  border-radius: 10px;
  padding: 1.3vmax;
  /*margin-top: 2vh;*/
  margin-bottom: 2vh;
  counter-increment: item;
  /*margin-bottom: 5px;*/
  position: relative;

}

li:hover {
  box-shadow: inset 0 0 3px #51C4D3, 0 0 10px #51C4D3;
}/*
li:before {
  margin-right: 10px;
  content: counter(item);
  background: lightblue;
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: -25px;*/
}
hr {
  border-spacing: 50%;
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  width: 80px;
  border-width: 10px;
  border-color: #064663;
  margin-top: 50px;
  margin-bottom: 50px;
}

p{
  /*background-color: #064663;*/
  padding: 5vh;
  text-align: justify;
}

table, th, td {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0;
}


th, td {
  padding: 5px;
  /*background-color: #064663;*/
  /*border-radius: 1vh;*/
  /*margin: 1vh;*/
  /*border: 1px solid;*/
  /*height: 100%;*/
  align-self: center;
  /*min-width: 1vw;*/
}

tr{
  border: 1px solid;
  display: flex;
  align-items: stretch;
  background-color: #064663;
}
/*
span{
  display: inline-block;
  text-align: justify;
}
td{
  text-align: center;
}*/

table{
  /*border-radius: 1vh;*/
  /*border: 2px solid;*/
  /*box-shadow: inset  0 0 3px #51C4D3,  0 0 10px #51C4D3;*/
  /*border-collapse: collapse;*/
  /*table-layout: fixed;*/
}

table:hover{ /*, th:hover, td:hover{*/
  box-shadow: inset  0 0 3px #51C4D3,  0 0 10px #51C4D3;
  border-color: #51C4D3;
}

form{
  width: 97.5%;
}

input {
  width: 100%;
}
textarea{
  width: 100%;
}


#topBar{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #51C4D3;
  border-bottom: 5px solid #064663;
  z-index: 999;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 100%;
  color: #041C32;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#bottomBar{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #051D33;
  border-top: 5px solid #064663;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  padding-bottom: 4px;
  padding-top: 4px;
  /*margin-top: 100px;*/
  z-index: 999;
}

.noBorderNoShadow{
  border-width: 0;
  box-shadow: none;
}

.noBorderNoShadow:hover{
  border-width: 0;
  box-shadow: none;
}


.outerBox{
  position: relative;
  margin: 2.5vh 5vw 2.5vh 5vw;
  width: 90vw;
  min-height: 90vh;
  /*background-color: green;*/
  /*text-align: center;*/
  padding: 2.5vh 0;
}

#first-box{
  display: grid;
  max-height: 90vh;
  grid-template-columns: 55fr 45fr;
  grid-template-rows: 1fr 1fr;
}
#homePageImg{
  position: absolute;
  max-height: 100%;
  max-width: 50vw;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}
#homePageImg:hover {
  box-shadow: 0 0 3px #bcf8ecff;
}

#leftcell{
  position: relative;
  grid-row: 1;
  grid-column: 1;
  /*background-color: gainsboro;*/
  min-height: 50vh;
}
#rightcell{
  /*background-color: royalblue;*/
  text-align: center;
  position: relative;
  left: 2px;
  grid-row: 1;
  grid-column: 2;
}
#bottomcell{
  /*background-color: aqua;*/
  max-height: 20%;
  position: relative;
  top: 2vh;
  grid-row: 2;
  grid-column: 1/3;
  text-align: center;
}

#homePageName{
  position: absolute;
  font-size: min(9vmin, 4.5rem);
  bottom: 5%;
  left: 0;
  margin-left: 4px;
  /*background-color: red;*/
  max-width: 20vw;
  font-family: 'WindSong', serif;
}

#homePageTxt{
  display: inline-block;
  margin: 0;
  text-align: justify;
  font-size: 1rem;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #777777;
  font-family: Arial;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 100%;
  margin-left: .01vmin;
  /*position: relative;*/
  /*left: -.2%;*/
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

#contactme{
  position: relative;
  /*background-color: darkgray;*/
  /*margin: 0;*/
  /*text-align: left;*/
}

#aboutmeBox{
  border: 1px solid;
  border-radius: 5px;
  padding: .2rem .5rem .5rem .5rem;


}

/* Container for flexboxes */
.row {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  box-sizing: border-box;
  flex: 33.3%;
  padding: 20px 3% 20px 3%;

}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 811px) {
  .column {
    flex: 50%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 500px) {
  .row {
    flex-direction: column;
  }
}

/*
@media only screen and (max-device-width : 480px) {

  .bottomBar {
      font-size: 18px;
  }

  .topBar{
    font-size: 18px;
  }

  .outerBox{
    top: 0vh;
  }

  hr{
    margin-top: 100px;
    margin-bottom: 100px;
  }


  table, th, td {
    padding: 10px;
  }

  ol{
    width: 70%;
  }

  form{
    width: 90%;

  }
}*/

/*
@media only screen and (min-device-width : 481px) {

  .bottomBar {
      font-size: 19px;
  }
  .topBar{
    font-size: 20px;
  }

}*/