@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

/* Global styles */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  width: 100%;
  color: #444444;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

td,
th {
  padding: 4px 8px 4px 4px;
  text-align: left;
}

th {
  font-weight: 600;
}

// Start flip card
.center {
  justify-content: center;
  align-items: center;
  place-items: center;
}

.shadow {
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.ReactFlipCard {
  text-align: center;
  // background-color: transparent;
}

.ReactFlipCard,
.ReactFlipCard__Front,
.ReactFlipCard__Back {
  width: 250px !important;
  min-height: 180px !important;
  height: fit-content !important;
  box-sizing: border-box;
}
.ReactFlipCard__Front,
.ReactFlipCard__Back {
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.ReactFlipCard__Front {
  background-color: rgba(251, 146, 60, 1);
}
.ReactFlipCard__Back {
  background-color: #cef;
  border: 5px double rgba(251, 146, 60, 1);
  -moz-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.ReactFlipCard:hover {
  transform: translateY(-5px);
  transition: transform 1.5s ease;
}

// End FlipCard
